[Unit]
Description=hotnews
After=network.target

[Service]
TimeoutStartSec=0
Type=forking
User=${User}
Group=${Group}
WorkingDirectory=${PATH}
ExecStart=/usr/bin/sh start.sh
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target