application:
  youdao:
    appKey: appKey
    appSecret: appSecret
  slack:
    token: token
    hotNewsChannelID: hotNewsChannelID
  baidu:
    appID: baidu_app_id
    appSecret: baidu_app_secret
  openai:
    url: https://your-domain.com
    token: sk-tokentokentokentokentokentokentokentokentokentokentok